@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-body: "Space Grotesk", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;

  --color-primary-main: rgb(var(--val-main));
  --color-primary-accent: rgb(var(--val-accent));

  --color-text-body: rgb(var(--val-text-body));
  --color-text-bold: rgb(var(--val-text-bold));
  --color-text-heading: rgb(var(--val-text-heading));
  --color-text-link: rgb(var(--val-text-link));
  --color-text-selection: rgb(var(--val-text-selection));

  --color-bg-body: rgb(var(--val-bg-body));
  --color-bg-selection: rgb(var(--val-bg-selection));
}

/* 
    Tailwind colors listed here: https://tailwindcss.com/docs/customizing-colors
    
    Why colors are written in rgb format (255 255 255) instead of hex (#ffffff)
    https://tailwindcss.com/docs/customizing-colors#using-css-variables 
*/
@layer base {
    /* light theme */
    .base-theme { 
        /* Tailwind amber-200 */
        --val-main: 253 230 138;  
        /* Tailwind cyan-400 #22d3ee */
        --val-accent: 253 230 138;  
         /* Custom light black #333333 */
        --val-text-body: 51 51 51;
        /* Custom light black #333333 */
        --val-text-heading: 51 51 51;
        /* Custom light black #333333 */
        --val-text-bold: 51 51 51;
        /* Tailwind cyan-500 #06b6d4 */
        --val-text-link: 6 182 212;
        /* black */
        --val-text-code: 0 0 0;
        /* black */
        --val-text-selection: 0 0 0;
        /* softer white like newspaper */
        --val-bg-body: 250 250 250;
        /* Tailwind amber-200 */
        --val-bg-selection: 253 230 138;
    }

    /* dark theme */
    .base-theme.dark {
        /* Tailwind blue-900 */
        --val-main: 30 58 138;  
        /* Tailwind blue-500 */
        --val-accent: 59 130 246;  
        /* Tailwind slate-300 */
        --val-text-body: 203 213 225;
        /* white */
        --val-text-heading: 255 255 255;
        /* white */
        --val-text-bold: 255 255 255;
        /* Tailwind blue-400 #60a5fa */
        --val-text-link: 96 165 250;
        /* black */
        --val-text-code: 255 255 255;
        /* black */
        --val-text-selection: 0 0 0;
        /* Lighter black for newspaper feel */
        --val-bg-body: 40 40 40;
        /* Tailwind indigo-100 */
        --val-bg-selection: 224 231 255;
    }

    :root {
        font-family: var(--font-body);
        background-color: var(--color-bg-body);
        color: var(--color-text-body);
        /* base font-size 1px larger for better visibility */
        font-size: 1.125em;
        line-height: 1.85;
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}

@layer components {

    /* ------ GLOBAL STYLES - START ------ */
    strong {
        font-weight: 600;
        color: var(--color-text-bold);
    }

    mark {
        background-color: var(--color-bg-selection);
        color: var(--color-text-selection);
    } 

    ::selection {
        background: var(--color-bg-selection);
        color: var(--color-text-selection);
    }
    /* ------ GLOBAL STYLES - END ------ */
}

@layer utilities {
  .prose {
    & a {
      text-decoration: none;
      background-repeat: no-repeat;
      background-size: 100% 1.5px;
      background-position: 0 100%;
      background-image: linear-gradient(to right, rgb(var(--val-text-link)), rgb(var(--val-text-link)));
      &:hover {
        color: rgb(var(--val-text-link));
      }
    }
    & h1, & h2, & h3, & h4, & h5 {
      color: rgb(var(--val-text-heading));
    }
    & code::before {
      content: none;
    }
    & code::after {
      content: none;
    }
    & blockquote {
      border: none;
      position: relative;
      width: 96%;
      margin: 0 auto;
      font-size: 1.0625em;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    & blockquote::before {
      font-family: Arial;
      content: "“";
      font-size: 4em;
      color: rgb(var(--val-text-bold));
      position: absolute;
      left: -10px;
      top: -10px;
    }
    & blockquote::after {
      content: "";
    }
    & blockquote p:first-of-type::before {
      content: "";
    }
    & blockquote p:last-of-type::after {
      content: "";
    }
  }
}
