.Banner {
  position: relative;
  height: 70vh;
}

.jumbotron {
  background: none;
  color: white;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
  margin: 0;
  /* height: 75vh; */
}

.banner-content h1 {
  font-size: 75px;
}

.color-theme {
  color: #ff4a57;
}
