/* Form */
form {
  margin-top: 20px;
  background: #1f2235;
}

.formRow {
  margin: 10px 0 20px 0;
}

.form-control {
  outline: none;
}

.formInput {
  padding: 25px 10px;
  background-color: #282c45;
  border: none;
  color: white;
}

.formInput:focus {
  background-color: #282c45;
  outline: none;
  box-shadow: 0 0 0 2px #ff4a57;
  color: white;
}

.formInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.formInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.formInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.submit-btn {
  background-color: #ff4a57;
  color: #fff !important;
  padding: 15px 50px;
  border: 2px solid #ff4a57;
  border-radius: 100px;
  margin-bottom: 25px;
}

.errorMessage {
  color: red;
}
