.profile-picture {
  height: 350px;
  width: 415px;
  border-radius: 6px;
}

.about-text {
  line-height: 28px;
}

.resume-btn {
  background-color: #1f2235;
  color: #fff !important;
  padding: 18px 40px;
  border: 2px solid #ff4a57;
  border-radius: 100px;
}

.resume-btn:hover {
  background-color: #ff4a57;
}
