.portfolio-item {
  margin-bottom: 15px;
  display: block;
  position: relative;
}

.portfolio-item-caption {
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(255, 74, 87, 0.8);
  border-radius: 6px;
}

.portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio-img {
  height: 200px;
  width: 350px;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .portfolio-img {
    height: 200px;
    width: 350px;
  }
  .portfolio-item-caption:hover {
    opacity: 0;
  }
}

/* Modals */
.modal-body {
  background-color: #282c45;
}

.portfolio-modal .close {
  position: absolute;
  z-index: 1;
  right: 24px;
  top: 12px;
  font-size: 26px;
  line-height: 40px;
  color: #ff4a57;
  opacity: 1;
}

.portfolio-modal-title {
  color: #fff;
}

.modal-img {
  border-radius: 6px;
}

.modal-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  background-color: #282c45;
  color: #fff !important;
  padding: 10px 20px;
  border: 2px solid #ff4a57;
  border-radius: 100px;
  margin: 10px;
}

.modal-btn:hover {
  background-color: #ff4a57;
}

.modal-btn:hover .modal-icon {
  color: #fff;
}

.modal-icon {
  margin-right: 5px;
  color: #ff4a57;
}
