/* Main */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	font-family: Poppins;
	background: #1f2235;
	color: #dfdfdf;
	line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color: #fff;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
	margin-bottom: 25px;
}

a {
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	transition: 0.3s ease;
}

a:hover {
	color: #ff2c2c;
}

a:hover,
a:focus,
a:active {
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: inherit;
}

a:hover,
a:active {
	outline: 0;
}

.main-color {
	color: #ff4a57;
}

.section-title {
	margin-bottom: 20px;
}

ul,
ol {
	padding-left: 20px;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}

.error-btn {
	background-color: #ff4a57;
	color: #fff !important;
	padding: 15px 50px;
	border: 2px solid #ff4a57;
	border-radius: 100px;
	margin-bottom: 25px;
}

/* End of Main */

/* Banner */
.Banner {
	position: relative;
	height: 70vh;
}

.particles {
	height: 100%;
	width: 100%;
	z-index: -1;
}

.jumbotron {
	background: none;
	color: white;
	position: absolute;
	text-align: center;
	top: 10%;
	width: 100%;
	margin: 0;
}

.banner-content h1 {
	font-size: 75px;
}

.color-theme {
	color: #ff4a57;
}

/* End of Banner */

/* Contact */
form {
	margin-top: 20px;
	background: #1f2235;
}

.formRow {
	margin: 10px 0 20px 0;
}

.form-control {
	outline: none;
}

.formInput {
	padding: 25px 10px;
	background-color: #282c45;
	border: none;
	color: white;
}

.formInput:focus {
	background-color: #282c45;
	outline: none;
	box-shadow: 0 0 0 2px #ff4a57;
	color: white;
}

.formInput::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 1; /* Firefox */
}

.formInput:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

.formInput::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}

.submit-btn {
	background-color: #ff4a57;
	color: #fff !important;
	padding: 15px 50px;
	border: 2px solid #ff4a57;
	border-radius: 100px;
	margin-bottom: 25px;
}

.errorMessage {
	color: #ff4a57;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.submit-feedback {
	color: #fff;
	border-radius: 6px;
	width: 200px;
	margin-left: 75px;
}

.success {
	background-color: #28a745;
}

.fail {
	background-color: #dc3545;
}

@media (max-width: 768px) {
	.submit-message {
		width: 125px;
		margin-left: 200px;
	}
}

.contact-info {
	padding: 25px;
	padding-left: 20px;
	border-radius: 6px;
	background: #282c45;
}

.contact-info span {
	font-weight: bold;
	position: relative;
	font-size: 16px;
	top: -10px;
	color: #fff;
	left: 10px;
}

.contact-info p {
	margin-bottom: 0;
	color: #fff;
	margin-left: 50px;
}

.contact-icon {
	color: #ff4a57;
	font-size: 32px;
}

/* End of Contact */

/* Info */
.profile-picture {
	height: 350px;
	width: 415px;
	border-radius: 6px;
}

.about-text {
	line-height: 28px;
}

.resume-btn {
	background-color: #1f2235;
	color: #fff !important;
	padding: 18px 40px;
	border: 2px solid #ff4a57;
	border-radius: 100px;
}

.resume-btn:hover {
	background-color: #ff4a57;
}

/* End of Info */

/* Navbar */
body.admin-bar .fixed-top {
	top: 28px;
}

.navbar {
	padding: 30px 0;
}

.navbar.fixed-top {
	background: #1f2235;
	-webkit-box-shadow: 0px 18px 40px -30px #23263a;
	box-shadow: 0px 18px 40px -30px #23263a;
	-webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
}

.navbar-nav a {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0 10px;
	font-weight: 500;
	color: #fff;
	font-size: 18px;
}

.navbar-nav a:hover {
	color: #ff4a57;
}

.navbar-nav .active {
	color: #ff4a57;
}

.navbar-toggler {
	background: transparent !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	font-size: 24px;
	text-align: right;
	margin-right: 30px;
}

@media (max-width: 768px) {
	.navbar-nav li {
		padding-bottom: 7px;
	}
}

/* End of Navbar */

/* Projects */
.portfolio-item {
	margin-bottom: 30px;
	display: block;
	position: relative;
}

.portfolio-item-caption {
	position: absolute;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	opacity: 0;
	background-color: rgba(255, 74, 87, 0.8);
	border-radius: 6px;
}

.portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio-img {
	height: 200px;
	width: 350px;
	border-radius: 6px;
}

@media (max-width: 768px) {
	.portfolio-img {
		height: 200px;
		width: 350px;
	}
	.portfolio-item-caption:hover {
		opacity: 0;
	}
}

/* Modals */
.modal-body {
	background-color: #282c45;
}

.portfolio-modal .close {
	position: absolute;
	z-index: 1;
	right: 24px;
	top: 12px;
	font-size: 26px;
	line-height: 40px;
	color: #ff4a57;
	opacity: 1;
}

.modal-content {
	background-color: #282c45;
}

.portfolio-modal-title {
	color: #fff;
}

.modal-img {
	border-radius: 6px;
}

.modal-links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-btn {
	background-color: #282c45;
	color: #fff !important;
	padding: 10px 20px;
	border: 2px solid #ff4a57;
	border-radius: 100px;
	margin: 10px;
}

.modal-btn:hover {
	background-color: #ff4a57;
}

.modal-btn:hover .modal-icon {
	color: #fff;
}

.modal-icon {
	margin-right: 5px;
	color: #ff4a57;
}

/* End of Projects */

/* Socials */
.social-inline-item {
	display: inline-block;
	margin-top: 10px;
}

.social-inline-item a {
	height: 50px;
	width: 50px;
	background-color: #1f2235;
	color: white;
	font-size: 20px;
	padding: 12px;
	border: 2px solid #ff4a57;
	border-radius: 50%;
}

.social-inline-item a:hover {
	background-color: #ff4a57;
}

.social-inline-item:not(:last-child) {
	margin-right: 15px;
}

/* End of Socials */
