---

---

<!-- Contact Section -->
<section class='mb-8'>
  <div>
    <p>
      If you would like to connect, feel free to reach me at
      <a
        href='mailto:mail@keatonsentak.com'
        class='font-bold hover:border-b-2 hover:border-text-body dark:text-primary-accent dark:border-primary-accent dark:hover:border-primary-accent'
      >
        mail@keatonsentak.com
      </a>
    </p>
  </div>
</section>
