---

---

<!-- Contact Section -->
<section class='mb-8'>
  <div>
    <p>
      If you would like to connect, feel free to reach me at
      <a
        href='mailto:mail@keatonsentak.com'
        class='font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary-secondary to-primary-main hover:border-b-2 border-primary-secondary'
      >
        mail@keatonsentak.com
      </a>
    </p>
  </div>
</section>
