---

---

<section class='mb-4'>
  <div class='mb-4'>
    <h1
      class='font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden'
    >
      <span
        class='bg-gradient-to-r bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-main to-primary-accent'
      >
        Keaton Sentak
      </span>
    </h1>
  </div>
  <div>
    <p class='mb-4 text-center md:text-left'>
      Hi there &#128075; I'm a software engineer who loves bringing ideas to
      life through modern web applications and tailored software solutions. In
      my world, it's all about 'build, test, deploy' – from writing the code to
      launching the apps, I've covered it all. I'm all about teamwork, crafting
      impactful applications, and tackling programming puzzles that make a real
      difference for users. For a deeper dive into my projects and professional
      journey, feel free to explore the links below.
    </p>
  </div>
</section>
