---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!-- Primary Tags -->
<title>{SITE_TITLE}</title>
<meta name='title' content={SITE_TITLE} />
<meta name='description' content={SITE_DESCRIPTION} />
