---

---

<div
  class='flex justify-center mt-1 mb-5 space-x-5 items-center content-center text-text-bold'
>
  <a
    class='unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-secondary to-primary-main'
    href='https://github.com/ksentak'
    target='_blank'
  >
    <i class='fa-brands fa-github' aria-hidden='true'></i>
    <span>Github</span>
  </a>
  <a
    class='unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-secondary to-primary-main'
    href='https://www.linkedin.com/in/ksentak/'
    target='_blank'
  >
    <i class='fa-brands fa-linkedin' aria-hidden='true'></i>
    <span>LinkedIn</span>
  </a>
  <a
    class='unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-secondary to-primary-main'
    href='./files/keaton-sentak-resume.pdf'
    target='_blank'
  >
    <i class='fa fa-file' aria-hidden='true'></i>
    <span>Resume</span>
  </a>
</div>
